build --tool_java_language_version=17 --tool_java_runtime_version=remotejdk_17 --java_language_version=17
build --cxxopt=-std=c++20 --host_cxxopt=-std=c++20

# buildbuddy
build --bes_results_url=https://app.buildbuddy.io/invocation/
build --bes_backend=grpcs://remote.buildbuddy.io
build --remote_cache=grpcs://remote.buildbuddy.io
build --noremote_upload_local_results # Uploads logs & artifacts without writing to cache
build --remote_timeout=3600
build --remote_header=x-buildbuddy-api-key=hn9CMMIBmyeRa6k6JxC3

build --workspace_status_command=$(pwd)/workspace_status.sh

test --build_metadata=ROLE=CI