<div class="landing-container">
{{!--     <h2 class="landing landing__title"> --}}
{{!--         API with Express Router & Handlebar Templates --}}
{{!--     </h2> --}}
    <div class="landing__hero">
        <div>
            <h3>Login</h3>
            <form action="/">
              <label for="username">Username:</label><br>
              <input type="text" id="username" name="username" value=""><br>
              <label for="password">Password:</label><br>
              <input type="text" id="password" name="password" value=""><br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
